html, body {
  height: 100%;
}
.reset-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.min-height {
  min-height: 900px
}

.menubar{}
.content{}
.content-left{}
.content-mid{}
.content-right{}

.menu-text {

}

.user-info {
  padding: 0px !important;
}

.round-border {
  border: 15px solid #fff;
  border-radius: 100px;
  margin-top: 15px;
}

.smedia-theme {
  background-color: #22b5b5;
}

.post-profile-pic {
  border: 5px solid darkgray;
  border-radius: 40px 40px 40px 40px;
}

.user-summary {
  margin-bottom: 10px;
}

.form-label {
  padding: 10px;
  min-width: 180px;
}

.required:after {
  content:"*";
  color:red;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-form-2{
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
